.settings_wrapper{
    max-width:900px;
    background:#FFFFFF;
    border:1px solid #dbdbdb; 
    margin:0 auto;
    margin-top:40px;
    min-height:400px;
}

.settings_wrapper_container{}
.settings_wrapper_container:before,
.settings_wrapper_container:after{
    content:"";
    display:block; 
}
.settings_wrapper_container:after{
    clear:both; 
}

/* Left Side
    =============================================== */
.settings_left_side{
    width:30%;
    float:left; 
}

.settings_left_side ul{}
.settings_left_side ul li{
    padding:20px 20px;
    border-left:solid 2px #262626;
}
.settings_left_side ul li.selected{
    border-left:solid 2px #262626;
}

.settings_left_side ul li:hover{
    background-color:#fafafa;
    border-left-color:#dbdbdb;
}
.settings_left_side ul li a{
    color: #262626;
}



/* Right Side
    =============================================== */
.settings_right_side{
    width:70%;
    float:left; 
}

/* Header
    ===============*/
.view_header{
    padding:20px 0px;
    padding-left:60px;
}
.view_header:before,
.view_header:after{
    content:"";
    display: block;
}
.view_header:after{
    clear: both;
}


.view_header .image_side{
    width:15%;
    float:left; 
}
.view_header .image_side .profile_image{
    width:50px;
    height:50px;
    border-radius:50%;
}

.view_header .info_side{
    width:85%;
    float:left;
}
.view_header .info_side h4.name{
    margin-bottom:10px;
}




/* Body 
    =================== */
.view_body{
    padding-left:60px;
    margin-top:40px;
}

.view_body form{}

.input-group{
    margin-bottom:30px;
}
.input-group:before,
.input-group:after{
    content:"";
    display:block; 
}
.input-group:after{
    clear:both; 
}




.input-group label{
    float:left;
    width:10%;
    text-align:right;
    padding-right:25px;
}

.input-group.change_pass label{
    width:24%;
}
.input-group.change_pass input[type="password"]{
    width:65%;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group select
{
    float:left;
    width:70%;
    border: 1px solid #efefef;
    border-radius: 3px;
    
    color: #262626;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}

.input-group button{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    padding-left:20px;
    padding-right:20px;
    margin-left:85px;
    cursor:pointer;
}